<!DOCTYPE html>
<html ng-app="hippocampe">

	<head>
		<title>Hippocampe</title>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media= "screen" title="no title" charset="utf-8">

		<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="images/manifest.json">
		<link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="apple-mobile-web-app-title" content="hippocampe">
		<meta name="application-name" content="hippocampe">
		<meta name="theme-color" content="#ffffff">
	</head>

	<body>
		<div class="container-fluid" ui-view></div>

		<script src="bower_components/angular/angular.js" charset="utf-8"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js" charset="utf-8"></script>
		<script src="bower_components/Chart.js/Chart.js" charset="utf-8"></script>
		<script src="bower_components/angular-chart.js/dist/angular-chart.js" charset="utf-8"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap.js" charset="utf-8"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js" charset="utf-8"></script>
		<link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
		<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

		<script src="app/app.js" charset="utf-8"></script>
		<script src="app/main/module.js" charset="utf-8"></script>
		<script src="app/home/module.js" charset="utf-8"></script>
		<script src="app/monitor/module.js" charset="utf-8"></script>
		<script src="app/sizeByType/module.js" charset="utf-8"></script>
		<script src="app/sizeBySource/module.js" charset="utf-8"></script>
		<script src="app/sources/module.js" charset="utf-8"></script>
		<script src="app/jobs/module.js" charset="utf-8"></script>
		<script src="app/more/module.js" charset="utf-8"></script>
		<script src="app/type/module.js" charset="utf-8"></script>
		<script src="app/hipposcore/module.js" charset="utf-8"></script>
		<script src="app/shadowbook/module.js" charset="utf-8"></script>
	</body>
</html>
